<div class="forms">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <div>
      <label for="name">
        Buscar
      </label>
      <input id="search" type="search"  placeholder="Buscar" formControlName="name">
      <button class="button" type="submit">Buscar</button>
    </div>
  </form> 
</div>


<div *ngFor="let user of itemsList">
  
  <mat-grid-list cols="4" rowHeight="1.5:1">

    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><img src="assets/{{user.originapi}}.png" class="imgs"></mat-grid-tile>
    <mat-grid-tile> 
      <ul>
        <li>{{user.name}}</li>
        <li>{{user.kind}}</li>
        <li>{{user.date}}</li>
      </ul>     
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

  </mat-grid-list>
  
</div>

